/openmessages
*.db
session.json
.vercel/
macos/build/
macos/OpenMessages/.build/
.vercel
.env*.local
.build/
node_modules/
playwright-report/
test-results/
/OpenMessage.app/
/OpenMessage.pkg
*.dSYM.zip
